@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal[open] .modal-trigger:before {
    content: '';

    @apply fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-75;
  }

  .modal-content {
    @apply bg-white p-4 fixed rounded-lg top-8 left-1/2 -translate-x-1/2 min-w-[280px];
    @apply sm:rounded-none sm:left-auto sm:top-0 sm:h-screen sm:right-0 sm:-translate-x-0;
  }

  .modal-content::after {
    @apply content-['🗙'] bg-red-500 text-white pointer-events-none
      absolute -right-8 top-4 w-8 h-16
      rounded-r-full grid place-content-center;
    @apply sm:rounded-r-none sm:-left-8 sm:rounded-l-full;
  }

  .link {
    @apply inline-block p-2 sm:p-4 cursor-pointer;
  }
}

#root {
  @apply min-h-screen grid;
  grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: 640px) {
  #root {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }
}
